h1 {
  color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 20pt;
	font-variant: small-caps;
	background-color: red;
}

h2 {
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 18pt;
	font-variant: small-caps;
	background-color: red;
}

p {
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
	background-color: red;
}

a {
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: 0.1em;
	text-align: center;
	margin: 40px auto;
	text-transform: lowercase;
	line-height: 145%;
	font-size: 14pt;
	font-variant: small-caps;
	background-color: red;
}

img.centeredImageContainer {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}